/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

/* Estilos para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para las celdas de encabezado */
th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
}

/* Estilos para el encabezado de la tabla */
h2 {
    font-size: 20px;
    margin-top: 20px;
}

/* Estilo para el título principal */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el cuerpo del documento */
body {
    margin: 0;
    padding: 20px;
}

/* Agregamos una clase CSS para ocultar columnas */
.oculto {
    display: none;
}

/* Agregamos una clase CSS para mantener un espacio para las columnas ocultas */
.mantener-espacio {
    visibility: hidden;
}


/* Estilo para los checkboxes */
#Ocultar {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

label {
    margin-right: 10px; /* Espacio entre etiqueta y combo box */
    font-family: 'Arial';
}


